<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="https://i.blogs.es/195f61/linus1/1366_2000.jpg" alt="">

        </div>
        <div class="col-8">
            <p>Linus Benedict Torvalds, born 28 December 1969 is a Finnish-American software engineer who is the creator
                and,
                historically, the main developer of the Linux kernel, used by Linux distributions and other operating
                systems such as
                Android. He also created the distributed version control system Git and the scuba dive logging and
                planning software
                Subsurface.

                He was honored, along with Shinya Yamanaka, with the 2012 Millennium Technology Prize by the Technology
                Academy Finland
                "in recognition of his creation of a new open source operating system for computers leading to the
                widely used Linux
                kernel." He is also the recipient of the 2014 IEEE Computer Society Computer Pioneer Award and the 2018
                IEEE
                Masaru Ibuka Consumer Electronics Award.[6]
            </p>

        </div>
    </div>
</div>