<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Tux.svg/300px-Tux.svg.png" alt="">
        </div>
        <div class="col-6">
            <img src="https://vabadus.es/images/cache/imagen_nodo/images/articulos/5c9deedea0c7e844300455.png" alt="">
        </div>

    </div>
    <div class="row">
        <div class="col-6">
            <h2>LINUX</h2>
            <p>The first prototypes of Linux were publicly released later in 1991. Version 1.0 was released on 14 March
                1994.
                Torvalds first encountered the GNU Project in 1991, after another Swedish-speaking computer science
                student, Lars
                Wirzenius, took him to the University of Technology to listen to free software guru Richard Stallman's
                speech.
                Torvalds used Stallman's GNU General Public License version 2 (GPLv2) for his Linux kernel.
                After a visit to Transmeta in late 1996, Torvalds accepted a position at the company in California,
                where he would
                work from February 1997 until June 2003. He then moved to the Open Source Development Labs, which has
                since merged
                with the Free Standards Group to become the Linux Foundation, under whose auspices he continues to work.
                In June
                2004, Torvalds and his family moved to Dunthorpe, Oregon, to be closer to the OSDL's headquarters in
                Beaverton,
                Oregon.
                From 1997 to 1999, he was involved in 86open, helping to choose the standard binary format for Linux and
                Unix. In
                1999, he was named by the MIT Technology Review TR100 as one of the world's top 100 innovators under age
                35.
                In 1999, Red Hat and VA Linux, both leading developers of Linux-based software, presented Torvalds with
                stock
                options in gratitude for his creation. That same year both companies went public and Torvalds's share
                value
                temporarily shot up to roughly US$20 million.
                His personal mascot is a penguin nicknamed Tux, which has been widely adopted by the Linux community as
                the mascot
                of the Linux kernel.
            </p>
        </div>
        <div class="col-6">
            <h2>GIT</h2>
            <p>Git development began in April 2005, after many developers of the Linux kernel gave up access to
                BitKeeper, a
                proprietary source-control management (SCM) system that they had been using to maintain the project
                since 2002. The
                copyright holder of BitKeeper, Larry McVoy, had withdrawn free use of the product after claiming that
                Andrew
                Tridgell had created SourcePuller by reverse engineering the BitKeeper protocols. The same incident also
                spurred the
                creation of another version-control system, Mercurial.
                Linus Torvalds wanted a distributed system that he could use like BitKeeper, but none of the available
                free systems
                met
                his needs. Torvalds cited an example of a source-control management system needing 30 seconds to apply a
                patch and
                update all associated metadata, and noted that this would not scale to the needs of Linux kernel
                development, where
                synchronizing with fellow maintainers could require 250 such actions at once. For his design criterion,
                he specified
                that patching should take no more than three seconds, and added three more goals: Take Concurrent
                Versions System
                (CVS) as an example of what not to do; if in doubt, make the exact opposite
                decision, support a distributed, BitKeeper-like workflow, and Include very strong safeguards against
                corruption,
                either accidental or malicious.
                These criteria eliminated every version-control system in use at the time, so immediately after the
                2.6.12-rc2 Linux
                kernel development release, Torvalds set out to write his own.
                The development of Git began on 3 April 2005. Torvalds announced the project on 6 April and became
                self-hosting the
                next day. The first merge of multiple branches took place on 18 April. Torvalds achieved his performance
                goals; on 29 April, the nascent Git was benchmarked recording patches to the Linux kernel tree at the
                rate of 6.7
                patches per second. On 16 June, Git managed the kernel 2.6.12 release.
                Torvalds turned over maintenance on 26 July 2005 to Junio Hamano, a major contributor to the project.
                Hamano was
                responsible for the 1.0 release on 21 December 2005 and remains the project's core maintainer.</p>
        </div>

    </div>
</div>